// Colors
$selago: #F7F7FE;
$blue-haze: #C7C7DD;
$medium-purple: #775CD9;
$melrose: #AE9EFD;
$havelock-blue: #5F75D8;
//base
$white: #FFFFFF;
$blue: #13407d;
$orange: #ff5105;
$gray: #808080;
$snow: #fafafa;

// Fonts
$font-family-default: Roboto, sans-serif;

$font-family: $font-family-default;

$font-size-base: 16px;

$fontSizeXXXL: 36px;
$fontSizeXXL: 32px;
$fontSizeXL: 28px;
$fontSizeL: 24px;
$fontSizeM: 20px;
$fontSizeS: 18px;
$fontSizeXS: 14px;

// Breakpoints
$screen-desktop-large: "(min-width: 1440px)";
$screen-desktop-medium: "(min-width: 1340px)";
$screen-desktop: "(min-width: 1280px)";
$screen-laptop: "(min-width: 1024px)";
$screen-tablet: "(min-width: 768px)";

$screen-device-only: "(max-width: 1279px)";
$screen-small-device-only: "(max-width: 1023px)";
$screen-mobile-only: "(max-width: 767px)";

// Sizes
$offset-tiny: 10px;
$offset-small: 12px;
$offset: 16px;
$offset-xs: 20px;
$offset-m: 24px;
$offset-l: 32px;
$offset-xl: 40px;
$offset-xxl: 56px;

// Z-indexes

// Radius
$border-radius-default: 5px;

// Shadows

// Transitions and Animations

