.button {
  font-size: rem($font-size-base);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  text-decoration: none;

  border: none;
  border-radius: rem($border-radius-default);
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: $medium-purple;
  }

  &--default {
    font-family: $font-family;
    font-size: rem($fontSizeS);

    min-width: rem(120px);
    padding: rem($offset-tiny) rem($offset-xs);

    color: $medium-purple;
    border: rem(1px) solid $blue-haze;
    border-radius: rem(24px);
    background-color: $white;

    &:hover:not(.is-disabled),
    &:active:not(.is-disabled) {
      color: $white;
      border: rem(1px) solid rgba($havelock-blue, .1);
      background-color: rgba($havelock-blue, .5);
    }

    &.is-disabled {
      cursor: default;

      color: $white;
      border: rem(1px) solid rgba($gray, .0);
      background-color: rgba($gray, .15);
    }

    &.is-active {
      color: $white;
      background: $havelock-blue;
    }
  }
}